@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply hover:scale-105;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 rounded-lg;
  }

  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 rounded-md;
  }
}
